<!-- ==================== indexHaas.html ==================== -->
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tecnibo ~ {{ fiche.cpid }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesHaas.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="Telecharger">
    <button id="downloadBtn">📄 Downloaden als PDF</button>
    <button onclick="window.location.href='?cpid={{ fiche.cpid }}&lang=fr'">
        🇫🇷 Franse versie
    </button>
    <button id="retourBtn" onclick="window.location.href='/'">
        ← Terug naar de startpagina
    </button>
</div>

<!-- ==================== PAGE 1 ==================== -->
<div class="PageA4">
  <!-- Header -->
  <header>
    <div class="d-flex mb-5">
      <div class="logo">TECNIBO</div>
      <div class="d-flex text-muted-header header-right">
        <span class="FICHE" style="margin-right: 121px;">PRODUCTFICHE</span>
        <span class="SECTION" style="margin-right: 56px;">

          {% if fiche.type|lower == 'cloison' %}
            SYSTEEMWAND
          {% elif fiche.type|lower == 'porte' %}
            DEUR
          {% else %}
            {{ fiche.type|upper }}
          {% endif %}

        </span>
        <span class="CPID">{{ fiche.reference_menu|upper }}</span>
      </div>
    </div>
  </header>

  <main>
    <!-- Title -->
    <h1 class="title">{{ fiche.reference }}</h1>
    {% if fiche.variant %}
      <h2 class="variant">{{ fiche.variant }}</h2>
    {% endif %}

    <!-- Product photo -->
    <div class="row gx-0">
      <div class="col-6">
        <div class="product-photo">
          {% if fiche.photo_produit %}
          <img src="{{ url_for('static', filename=fiche.photo_produit) }}"
               alt="Vue product photo"
               style="max-width:100%; max-height:100%; object-fit:contain;">
          {% endif %}
        </div>
      </div>
    </div>

    <!-- REFERENCE -->
    <div class="row table-row gx-0">
      <div class="col-6 text-muted border-half"><span>REFERENTIE</span></div>
      <div class="col-6">
        <div class="d-flex align-items-center text-muted border-half inner-row">
          <span class="left">{{ fiche.reference }}</span>
        </div>
      </div>
    </div>

    <!-- DESCRIPTION -->
    <div class="row table-row gx-0">
      <div class="col-6 text-muted border-half"><span>BESCHRIJVING</span></div>
      <div class="col-6 border-half text-desc dashDesc">
        {{ fiche.description }}
      </div>
    </div>
    <br>

    <!-- DIMENSIONS DES ELEMENTS -->
    <div class="row table-row gx-0">
      <div class="col-6 text-muted text-muted-dim border-half"><span>AFMETINGEN VAN DE ELEMENTEN</span></div>
      <div class="col-6">
        <div class="d-flex align-items-center text-muted text-muted-dim border-half inner-row">
          <span class="left">HOOGTE</span>
          <span class="right">{{ fiche.hauteur }}</span>
        </div>
        <div class="d-flex align-items-center text-muted text-muted-larg border-half inner-row">
          <span class="left">BREEDTE</span>
          <span class="right">{{ fiche.largeur }}</span>
        </div>
        {% if fiche.type == 'Cloison' %}
        <div class="d-flex align-items-center text-muted border-half inner-row">
          <span class="left">DIKTE</span>
          <span class="right">{{ fiche.epaisseur }}</span>
        </div>
        {% else %}
        <div class="d-flex align-items-center text-muted border-half inner-row">
          <span class="left">DIKTE VAN DE VLEUGEL</span>
          <span class="right">{{ fiche.epaisseur }}</span>
        </div>
        {% endif %}
        <div class="d-flex align-items-center text-muted border-half inner-row">
          <span class="left">HOOGTETOLERANTIE</span>
          <span class="right">{{ fiche.tolerance_hauteur }}</span>
        </div>
      </div>
    </div>
    <div class="padding"></div>

    <!-- MASSES VOLUMIQUES -->
    <div class="row table-row gx-0">
      <div class="col-6 text-muted border-half"><span>VOLUMINEUZE MASSAS</span></div>
      <div class="col-6">
        {% if fiche.type == 'Cloison' %}
          {% if fiche.verre %}
          <div class="d-flex align-items-center text-muted border-half inner-row">
            <span class="left">GLAS</span>
            <span class="right">{{ fiche.verre }}</span>
          </div>
          {% endif %}
          {% if fiche.panneau %}
          <div class="d-flex align-items-center text-muted border-half inner-row">
            <span class="left">PANEEL</span>
            <span class="right">{{ fiche.panneau }}</span>
          </div>
          {% endif %}
          {% if fiche.poids_porte_cloison %}
          <div class="d-flex align-items-center text-muted border-half inner-row">
            <span class="left">GEWICHT SCHOT</span>
            <span class="right">{{ fiche.poids_porte_cloison }}</span>
          </div>
          {% endif %}
        {% else %}
          {% if fiche.battant %}
          <div class="d-flex align-items-center text-muted border-half inner-row">
            <span class="left">SLAG</span>
            <span class="right">{{ fiche.battant }}</span>
          </div>
          {% endif %}
          {% if fiche.poids_porte_cloison %}
          <div class="d-flex align-items-center text-muted border-half inner-row">
            <span class="left">DEURGEWICHT</span>
            <span class="right">{{ fiche.poids_porte_cloison }}</span>
          </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="padding"></div>

    <!-- RESISTANCE AU FEU -->
    <div class="row table-row gx-0">
      <div class="col-6 text-muted border-half"><span>BRANDWERENDHEID</span></div>
      <div class="col-6">
        <div class="d-flex align-items-center text-muted border-half inner-row">
          <span class="left">STANDAARD BRANDWERENDHEID</span>
          <span class="right">{{ fiche.resistance_feu }}</span>
        </div>
      </div>
    </div>

    <!-- PERFORMANCE ACOUSTIQUE -->
    <div class="row table-row gx-0">
      <div class="col-6 text-muted border-half"><span>AKOESTISCHE PRESTATIE</span></div>
      <div class="col-6">
        <div class="d-flex align-items-center text-muted border-half inner-row">
          <span class="left">NBN S 01-400</span>
          <span>{{ fiche.nbn_s_01_400 }}</span>
        </div>
        <div class="d-flex align-items-center text-muted border-half inner-row">
          <span class="left">NBN EN ISO 717-1 (RW)</span>
          <span class="right">{{ fiche.nbn_en_iso_717_1 }}</span>
        </div>
      </div>
    </div>
    <div class="padding"></div>

    <!-- TEST LABORATOIRE -->
    <div class="row table-row gx-0">
      <div class="col-6 text-muted border-half">
        <div class="padding-test">
          GETEST IN HET LABORATORIUM VOLGENS DE REFERENTIENORM NBN EN ISO 10140-2 <br>EN NBN EN ISO 717-1:2
        </div>
      </div>
      <div class="col-6 border-half text-muted">
        <div class="padding-test">
          ONZE PRODUCTEN PASSEN IN EEN MILIEUVERANTWOORD BELEID.<br>
          VERVAARDIGD IN EUROPA MET HOUT UIT UITSLUITEND EUROPESE <br>
          BOSSEN EN AFKOMSTIG UIT PEFC- OF FSC-GECERTIFICEERDE BRONNEN.
        </div>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-content">
      <span class="numberPage">1</span>
    </div>
  </footer>
</div>

<!-- ==================== PAGE 2 ==================== -->
<!--<div class="PageA4">-->
<!--  <header>-->
<!--    <div class="d-flex mb-5">-->
<!--      <div class="logo2">TECNIBO</div>-->
<!--      <div class="d-flex text-muted-header2 header-right2">-->
<!--        <span class="FICHE" style="margin-right: 121px;">FICHE PRODUIT</span>-->
<!--        <span class="SECTION" style="margin-right: 56px;">{{ fiche.type|upper }}</span>-->
<!--        <span class="CPID">{{ fiche.reference|upper }}</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </header>-->

<!--  <main>-->
<!--    <div class="Premier">-->
<!--      <div class="empty"></div>-->
<!--      <div class="NotEmpty">-->
<!--        <div class="row table-row gx-0">-->
<!--          <div class="col-6"><div class="DesFlec">DESIGN ET FLEXIBILITE</div></div>-->
<!--          <div class="col-6">-->
<!--            <div class="d-flex">-->
<!--              <div class="Des-Flec">-->
<!--                <div class="text-desc-Des-Flec dash">-->
<!--                  {{ fiche.design_et_flexibilite }}-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="Premier-page3">-->
<!--      <div class="empty"></div>-->
<!--      <div class="NotEmpty">-->
<!--        <div class="row table-row gx-0">-->
<!--          <div class="col-6"><div class="DesFlec">PERSONALISATION ET OPTIONS</div></div>-->
<!--          <div class="col-6">-->
<!--            <div class="d-flex">-->
<!--              <div class="Des-Flec">-->
<!--                <div class="text-desc-Des-Flec dash">-->
<!--                  {{ fiche.personnalisation_options }}-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </main>-->

<!--  <footer class="footer">-->
<!--    <div class="footer-content">-->
<!--      <span class="numberPage">2</span>-->
<!--    </div>-->
<!--  </footer>-->
<!--</div>-->

<!-- ==================== PAGE 3 (Vue éclatée) ==================== -->
<div class="PageA4">
  <header>
    <div class="d-flex mb-5">
      <div class="logo2">TECNIBO</div>
      <div class="d-flex text-muted-header2 header-right2">
        <span class="FICHE" style="margin-right: 121px;">PRODUCTFICHE</span>
        <span class="SECTION" style="margin-right: 56px;">
          {% if fiche.type|lower == 'cloison' %}
            SYSTEEMWAND
          {% elif fiche.type|lower == 'porte' %}
            DEUR
          {% else %}
            {{ fiche.type|upper }}
          {% endif %}
        </span>
        <span class="CPID">{{ fiche.reference_menu|upper }}</span>
      </div>
    </div>
  </header>

  <main>
    <div class="main1">
      <div class="padding-Pa3"></div>
      <div class="row table-row gx-0">
        <div class="col-6 border-half">
          <div class="logTitle">
              {{ fiche.reference }}
          </div>
        </div>
      </div>
      <div id="Image">
        {% if fiche.vue_eclatee_image %}
        <img src="{{ url_for('static', filename=fiche.vue_eclatee_image) }}"
             alt="Vue éclatée produit"
             style="max-width:100%; max-height:100%; object-fit:contain;">
        {% endif %}
      </div>
    </div>

    <div class="main2">
      <div class="row table-row gx-0">
        <div class="col-6">
          {% for i in range(1, (fiche.vue_eclatee_count // 2) + (fiche.vue_eclatee_count % 2) + 1) %}
          <div class="text-muted_main2 border-half">
            <span style="display: inline-block; width: 0px; text-align: right;">{{ i }}.</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ fiche['vue_eclatee_' ~ i] if fiche['vue_eclatee_' ~ i] else '' }}
          </div>
          {% endfor %}
          <div class="text-muted_main2 border-half"></div>
        </div>
        <div class="col-6">
          {% for i in range(((fiche.vue_eclatee_count // 2) + (fiche.vue_eclatee_count % 2)) + 1, fiche.vue_eclatee_count + 1) %}
          <div class="text-muted_main2 border-half">
            <span style="display: inline-block; width: 0px; text-align: right;">{{ i }}.</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ fiche['vue_eclatee_' ~ i] if fiche['vue_eclatee_' ~ i] else '' }}
          </div>
          {% endfor %}
          <div class="text-muted_main2 border-half"></div>
        </div>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="footer-content">
      <span class="numberPage">2</span>
    </div>
  </footer>
</div>

<!-- ==================== PAGE 4 (Dessins techniques) ==================== -->
<div class="PageA4">
  <header>
    <div class="d-flex mb-5">
      <div class="logo2">TECNIBO</div>
      <div class="d-flex text-muted-header2 header-right2">
        <span class="FICHE" style="margin-right: 121px;">PRODUCTFICHE</span>
        <span class="SECTION" style="margin-right: 56px;">
          {% if fiche.type|lower == 'cloison' %}
            SYSTEEMWAND
          {% elif fiche.type|lower == 'porte' %}
            DEUR
          {% else %}
            {{ fiche.type|upper }}
          {% endif %}
        </span>
        <span class="CPID">{{ fiche.reference_menu|upper }}</span>
      </div>
    </div>
  </header>

  <main>
    <div class="main4">
      <div class="row table-row gx-0">
        <div class="col-8 border-half">
          <div class="DesFlecHV">HORIZONTALE SNIJWERK</div>
          <div class="row Horizontal1">
            <div class="col-6">
              <div class="w3-container">
                {% if fiche.dessin_technique_1 %}
                <div class="w3-card-4 w3-center">
                  <img src="{{ url_for('static', filename=fiche.dessin_technique_1) }}" alt="">
                  <div class="w3-container w3-center">
                    {% if fiche.dessin_technique_nom_1 %}
                    <p>{{ fiche.dessin_technique_nom_1 }}</p>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="col-6">
              <div class="w3-container">
                {% if fiche.dessin_technique_2 %}
                <div class="w3-card-4 w3-center">
                  <img src="{{ url_for('static', filename=fiche.dessin_technique_2) }}" alt="">
                  <div class="w3-container w3-center">
                   {% if fiche.dessin_technique_nom_2 %}
                    <p>{{ fiche.dessin_technique_nom_2 }}</p>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row Horizontal2">
            <div class="col-6">
              <div class="w3-container">
                {% if fiche.dessin_technique_3 %}
                <div class="w3-card-4 w3-center">
                  <img src="{{ url_for('static', filename=fiche.dessin_technique_3) }}" alt="">
                  <div class="w3-container w3-center">
                    {% if fiche.dessin_technique_nom_3 %}
                    <p>{{ fiche.dessin_technique_nom_3 }}</p>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="col-6">
              <div class="w3-container">
                {% if fiche.dessin_technique_4 %}
                <div class="w3-card-4 w3-center">
                  <img src="{{ url_for('static', filename=fiche.dessin_technique_4) }}" alt="">
                  <div class="w3-container w3-center">
                    {% if fiche.dessin_technique_nom_4 %}
                    <p>{{ fiche.dessin_technique_nom_4 }}</p>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row Horizontal3">
            <div class="col-6">
              <div class="w3-container">
                {% if fiche.dessin_technique_5 %}
                <div class="w3-card-4 w3-center">
                  <img src="{{ url_for('static', filename=fiche.dessin_technique_5) }}" alt="">
                  <div class="w3-container w3-center">
                    {% if fiche.dessin_technique_nom_5 %}
                    <p>{{ fiche.dessin_technique_nom_5 }}</p>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 border-half">
          <div class="DesFlecHV">VERTICALE SNIJBEURT</div>
          {% if fiche.dessin_technique_6 %}
          <div class="vertical">
            <img src="{{ url_for('static', filename=fiche.dessin_technique_6) }}">
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="footer-content">
      <span class="numberPage">3</span>
    </div>
  </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>